{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row">
		<div class="col-md-12">
			<h1>Edit {{category.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<form action="{{ url_for('editCategory',category_id = category.id)}}" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" name="name" required value="{{category.name}}">
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="fas fa-save" aria-hidden="true"></span>Save</button>
					<a href = '{{url_for('showCategory',category_id=category.id)}}'>
						<button type="button" class="btn btn-default">
						<span class="fas fa-ban" aria-hidden="true"></span>Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}